<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Old1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{88,46}</string>
                <key>spriteSourceSize</key>
                <string>{90,92}</string>
                <key>textureRect</key>
                <string>{{1,179},{88,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Old2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{84,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,92}</string>
                <key>textureRect</key>
                <string>{{1,307},{84,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Old3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{86,78}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1,227},{86,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Old4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{112,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Old5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{1,85},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Old6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,78}</string>
                <key>textureRect</key>
                <string>{{1,375},{128,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>OldAnimation.png</string>
            <key>size</key>
            <string>{112,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f99b6dada3f23f0729eb00c514bcaaf5:da4b8db18889bba292f727198f866dd3:284a28ddfb69217c526db387384b6d04$</string>
            <key>textureFileName</key>
            <string>OldAnimation.png</string>
        </dict>
    </dict>
</plist>
